@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url("./assets/pattern-lines.svg"),
    url("./assets/pattern-circle.svg"),
    url("./assets/pattern-squiggly-line-bottom-desktop.svg"),
    url("./assets/pattern-squiggly-line-top.svg"),
    url("./assets/background-desktop.png");
  background-size: contain, 200px, 50%, 30%, cover;
  background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top, 79% 60%, left bottom, right 80px, center center;
}
