@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

@theme {
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(252, 6%, 83%);
  --color-neutral-500: hsl(245, 15%, 58%);
  --color-neutral-700: hsl(245, 19%, 35%);
  --color-neutral-900: hsl(248, 70%, 10%);
  --color-orange-500: hsl(7, 88%, 67%);
  --color-orange-700: hsl(7, 71%, 60%);
}

body {
  height: 100vh;
  background: url("./pattern-lines.svg"), url("./pattern-circle.svg"),
    url("./pattern-squiggly-line-bottom-desktop.svg"),
    url("./pattern-squiggly-line-top.svg"), url("./background-desktop.png");
  background-size: contain, 200px, 50%, 30%, cover;
  background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top, 79% 60%, left bottom, right 80px, center center;
  color: var(--color-neutral-0);
  font-family: "Inconsolata", serif;
}
